form{
    background-color: black;
    padding:70px;
    font-size:25px;
    border-radius:10px;
    margin-bottom: 20px;
    color: #007bff;
    width: 700px;
    box-shadow: 0px 8px 152px 15px #007bff;
}



input{
    border-radius: 5px;
    border:1px solid white;
    height: 40px;
    font-size: 20px;
    width: 560px;
    background-color: black;
    color: whitesmoke;
}


button{
    background-color: transparent;
    color: #007bff;
    border: 1px solid white;
    border-radius: 4px;
    height: 50px;
    font-size:18px;
    padding: 0 25px;
}

button:hover{
    background-color: #007bff;
    color:white;
}